<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{SITE_NAME}</title>
    <base href="{BASE_URL}"/>
    <meta name="ViewPort" content="initial-scale=1, minimum-scale=1, width=device-width"/>
    <link rel="stylesheet" href="Resource/Dashboard.css">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-header">
            <div class="account-info">
                <if condition="$account">
                    <img src="{$account->avatar}" class="avatar"/>
                    <p class="name">{$account->name}</p>
                    <else/>
                    <img src="Resource/Images/Avatar_Light.png" class="avatar"/>
                    <p class="name">请绑定百度账号</p>
                </if>
                <i class="material-icons switch-account">arrow_drop_down</i>
            </div>
            <ul class="account-list">
                <loop variable="$accounts" value="$account">
                    <li data-action="switch" data-id="{$account->id}">
                        <img src="{$account->avatar}" class="avatar"/>
                        {$account->name}
                    </li>
                </loop>
                <li data-action="add">
                    <i class="material-icons avatar">add</i>
                    关联新账号
                </li>
            </ul>
        </div>
        <div class="sidebar-menu">
            <div class="menu">
                <a data-module="overview" href="/Dashboard">
                    <i class="material-icons">home</i>
                    总览
                </a>
                <a data-module="tieba" href="/Dashboard/Tieba">
                    <i class="material-icons">forum</i>
                    我的贴吧
                </a>
                <a data-module="ban" href="/Dashboard/Ban">
                    <i class="material-icons">block</i>
                    贴吧封禁
                </a>
                <a data-module="reply" href="/Dashboard/Reply">
                    <i class="material-icons">replay</i>
                    自动回帖
                </a>
                <a data-module="log" href="/Dashboard/Log">
                    <i class="material-icons">event</i>
                    签到记录
                </a>
                <a data-module="invite" href="/Dashboard/Invite">
                    <i class="material-icons">person_add</i>
                    邀请好友
                </a>
                <a data-module="config" href="/Dashboard/Setting">
                    <i class="material-icons">settings</i>
                    设置
                </a>
            </div>
            <div class="sidebar-bottom">
                <div class="menu">
                    <a class="sign-out">
                        <i class="material-icons">exit_to_app</i>
                        <i18n key="Member.Logout">Logout</i18n>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="header">Loading...</div>
    </div>
    <script src="Resource/Dashboard.js"></script>
</body>
</html>
