<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{SITE_NAME}</title>
    <base href="{BASE_URL}"/>
    <meta name="ViewPort" content="initial-scale=1, minimum-scale=1, width=device-width"/>
    <link rel="stylesheet" href="Resource/Dashboard.css">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-header">
            <div class="account-info">
                <img src="//cdn.v2ex.com/gravatar/e466883dea9a8b501f9788066cd021de?s=64" class="avatar"/>
                <p class="name">kookxiang@gmail.com</p>
                <i class="fa fa-caret-down switch-account"></i>
            </div>
            <ul class="account-list">
                <li>
                    <img src="//cdn.v2ex.com/gravatar/e466883dea9a8b501f9788066cd021de?s=64" class="avatar"/>
                    测试用户 1
                </li>
                <li>
                    <img src="//cdn.v2ex.com/gravatar/e466883dea9a8b501f9788066cd021de?s=64" class="avatar"/>
                    测试用户 2
                </li>
                <li>
                    <i class="fa fa-plus avatar"></i>
                    关联新账号
                </li>
            </ul>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li>
                    <i class="fa fa-home"></i>
                    总览
                </li>
                <li>
                    <i class="fa fa-list"></i>
                    贴吧
                </li>
                <li>
                    <i class="fa fa-calendar"></i>
                    记录
                </li>
                <li>
                    <i class="fa fa-envelope"></i>
                    邀请
                </li>
                <li>
                    <i class="fa fa-wrench"></i>
                    设置
                </li>
            </ul>
            <div class="sidebar-bottom">
                <ul class="menu">
                    <li class="sign-out">
                        <i class="fa fa-sign-out"></i>
                        退出
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="header"></div>
    </div>
    <script src="Resource/Dashboard.js"></script>
</body>
</html>
