<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{SITE_NAME}</title>
    <base href="{BASE_URL}"/>
    <meta name="ViewPort" content="initial-scale=1, minimum-scale=1, width=device-width"/>
    <link rel="stylesheet" href="Resource/Dashboard.css">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-header">
            <div class="account-info">
                <if condition="$account">
                    <img src="{$account->avatar}" class="avatar"/>
                    <p class="name">{$account->name}</p>
                    <else/>
                    <img src="Resource/Images/Avatar_Light.png" class="avatar"/>
                    <p class="name">请绑定百度账号</p>
                </if>
                <i class="fa fa-caret-down switch-account"></i>
            </div>
            <ul class="account-list">
                <loop variable="$accounts" value="$account">
                    <li data-action="switch" data-id="{$account->id}">
                        <img src="{$account->avatar}" class="avatar"/>
                        {$account->name}
                    </li>
                </loop>
                <li data-action="add">
                    <i class="fa fa-plus avatar"></i>
                    关联新账号
                </li>
            </ul>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li>
                    <i class="fa fa-home"></i>
                    总览
                </li>
                <li>
                    <i class="fa fa-list"></i>
                    贴吧
                </li>
                <li>
                    <i class="fa fa-ban"></i>
                    封禁
                </li>
                <li>
                    <i class="fa fa-reply"></i>
                    回复
                </li>
                <li>
                    <i class="fa fa-calendar"></i>
                    记录
                </li>
                <li>
                    <i class="fa fa-envelope"></i>
                    邀请
                </li>
                <li>
                    <i class="fa fa-wrench"></i>
                    设置
                </li>
            </ul>
            <div class="sidebar-bottom">
                <ul class="menu">
                    <li class="sign-out">
                        <i class="fa fa-sign-out"></i>
                        <i18n key="Member.Logout">Logout</i18n>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="header"></div>
    </div>
    <script src="Resource/Dashboard.js"></script>
</body>
</html>
