<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>KK-Framework</title>
    <base href="{BASE_URL}"/>
    <meta name="Robots" content="NOINDEX, NOFOLLOW, NOARCHIVE"/>
    <meta name="ViewPort" content="initial-scale=1, minimum-scale=1, width=device-width"/>
    <link rel="stylesheet" href="Resource/Misc/Error.css">
</head>
<body>
<p class="title">{SITE_NAME}</p>
<div class="box">
    <h2>Welcome</h2>
    <p>Welcome to use KK-Framework. El Psy Congroo.</p>
</div>
<p class="foot">Powered by KK Framework</p>
<script src="Resource/Demo/test.js"></script>
</body>
</html>