.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: 150px;
    width: 280px;
    background: #3F51B5;
    box-shadow: 2px 0 20px rgba(96, 96, 96, .5);
    z-index: 10;
}

.sidebar-header {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    color: #eceff1;
    background: #303F9F;
    font-size: 14px;
    padding: 60px 15px 0;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.65, 0.05, 0.36, 1);
    z-index: 15;
}

.sidebar-header.expanded {
    height: 100%;
    overflow: auto;
}

.sidebar .account-info {
    position: relative;
    padding: 0 16px 25px 85px;
}

.sidebar .account-info .avatar {
    position: absolute;
    left: 5px;
    height: 64px;
    width: 64px;
    border-radius: 32px;
}

.sidebar .account-info .name {
    margin: 0;
    height: 64px;
    line-height: 64px;
    font-size: 18px;
    white-space: nowrap;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar .switch-account {
    position: absolute;
    right: -8px;
    top: 16px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0);
    transform: rotate(-90deg);
    transition: background .3s cubic-bezier(0, 0, 0.2, 1), transform .3s cubic-bezier(0.65, 0.05, 0.36, 1);
    cursor: pointer;
}

.sidebar .switch-account:hover {
    background: rgba(255, 255, 255, .2);
}

.sidebar .switch-account:active {
    background: rgba(192, 192, 192, .2);
}

.sidebar .switch-account.expanded {
    transform: rotate(0deg);
}

.sidebar .account-list {
    margin: 0 -15px;
    padding: 0;
}

.sidebar .account-list:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    margin: 0;
    height: 10px;
}

.sidebar .account-list li {
    position: relative;
    display: block;
    margin: 0;
    height: 20px;
    line-height: 20px;
    padding: 15px 30px 15px 64px;
    cursor: pointer;
    transition: background .3s cubic-bezier(0, 0, 0.2, 1);
    user-select: none;
}

.sidebar .account-list li:hover {
    background: #3F51B5;
}

.sidebar .account-list li:active {
    background: #3949AB;
}

.sidebar .account-list li .avatar {
    position: absolute;
    top: 9px;
    left: 20px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 18px;
    text-align: center;
    border-radius: 16px;
}

.sidebar-menu {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.sidebar .menu {
    margin: 0;
    padding: 10px 0 0;
    list-style: none;
    flex: 1;
}

.sidebar .menu li {
    position: relative;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    padding: 16px 40px 16px 80px;
    color: #eceff1;
    cursor: pointer;
    transition: background .2s;
    user-select: none;
}

.sidebar .menu li .fa {
    position: absolute;
    top: 15px;
    left: 40px;
    font-size: 24px;
}

.sidebar .menu .active {
    background: #F57C00;
}

.sidebar .menu li:hover {
    background: #FF9100;
}

.sidebar .menu li:active {
    background: #FF6D00;
}

.sidebar-bottom {
    margin-top: 20px;
    background: #303F9F;
}

.sidebar-bottom .menu {
    padding: 0;
}

.sidebar .menu .sign-out:hover {
    background: #FF1744;
}

.sidebar .menu .sign-out:active {
    background: #D50000;
}
